h3 {
	color: crimson !important;
}

input, .hist, .label {
	float: left;
	display: block;
	margin-bottom: 10px;
}

input, .hist {
	margin-right: 80px;
}

input {
	text-align: right;
}

#inputDiv, #histoDiv{
	float: left;
	padding: 3px 20px 20px 20px;
	margin: 15px 15px 15px 15px;
	background: lightgray;
}

.label {
	width: 100px;
}

