h3 {
	color: crimson !important;
}

input {
	margin-bottom: 10px;
}

#inputDiv, #histoDiv{
	float: left;
	padding: 15px 15px 15px 15px;
	margin: 15px 15px 15px 15px;
	background: lightgray;
}

.label {
	float: left;
	display: block;
	width: 100px;
	margin-bottom: 10px;
}

